{% extends 'base.html' %}
{% block title %}
Sean's List
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>{{ todo_detail.name }}</h1>
    <p>
        <a href="{% url "todo_list_update" todo_detail.id %}">Edit</a>
        <a href="{% url "todo_list_delete" todo_detail.id %}">Delete</a>

    </p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <th>Tasks</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            {% for tasks in todo_detail.items.all %}
            <tr>
                <td><a href="{% url "todo_item_update" tasks.id %}">{{ tasks.task }}</a></td>
                <td>{{ tasks.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
</main>
{% endblock content %}
