{% extends 'base.html' %}
{% block title %}
Sean's recipes
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>Update List</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <button>Update</button>
    </form>
    </div>
</main>
{% endblock content %}
{%load static%}
