{% extends 'base.html' %}
{% block title %}
Sean's List
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>My Lists</h1>
    <a href="{% url "todo_list_create" %}">Create a new List</a>
    <a href="{% url "todo_item_create"  %}">Add item</a>

    <table>
        <thead>
            <th>Name</th>
            <th>Number of Items</th>
        </thead>
        <tbody>
            {% for todo_list in todo_list_list %}
            <tr>
                <td> <a href="{% url 'todo_list_detail' todo_list.id %}"> {{ todo_list.name }} </a></td>
                <td>{{ todo_list.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
</main>
{% endblock content %}
